###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Library/assetDatabase3
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/metadata/00/00000000000000004000000000000000
Library/ProjectSettings.asset
ProjectSettings/ProjectSettings.asset
Library/CurrentLayout.dwlt
Library/assetDatabase3
Library/Collab/CollabSnapshot_1f5aa2e4-c483-4786-824e-258f71fff055.txt
